section.awards
  .container-large  
    .awards__inner 
      h2.awards__title.wow.title.animate__animated.animate__fadeIn Our Awards
      ul.awards__list.wow.animate__animated.animate__zoomIn
        li.awards__item
          img.awards__item-img(src="./img/awards.svg", alt="award")
          .awards__item-box 
            p.awards__item-subtitle CARTIER / 2021
            a.awards__item-title(href="#") Awwwards Site of the day
          a.awards__item-link(href="#") View Project
        li.awards__item
          img.awards__item-img(src="./img/awards.svg", alt="award")
          .awards__item-box 
            p.awards__item-subtitle CARTIER / 2021
            a.awards__item-title(href="#") Webflow Design of the Week
          a.awards__item-link(href="#") View Project
        li.awards__item
          img.awards__item-img(src="./img/awards.svg", alt="award")
          .awards__item-box 
            p.awards__item-subtitle CARTIER / 2021
            a.awards__item-title(href="#") Awwwards Site of the day
          a.awards__item-link(href="#") View Project
        li.awards__item
          img.awards__item-img(src="./img/awards.svg", alt="award")
          .awards__item-box 
            p.awards__item-subtitle CARTIER / 2021
            a.awards__item-title(href="#") Webflow Design of the Week
          a.awards__item-link(href="#") View Project