section.banner
  .container-large 
    .banner__inner
      .container 
        .banner__content
          h4.banner__title Let's build something 
            span great!
          .banner__box
            p.banner__text Amet minim mollit non deserunt est sit aliqua dolor do amet sint officia consequat duis enim mollit exercitation.
            a.banner__link(href="#") Our Company