mixin blogAndArticles-item(img, subtitle, title)
    .blogAndArticles-item
      img.blogAndArticles-item__img(src=`./img/blogAndArticles/img-${img}.png`, alt="img")
      p.blogAndArticles-item__subtitle=subtitle
      h5.blogAndArticles-item__title=title
      a.blogAndArticles-item__link(href="#") Learn More