include ./_cases-item
section.cases
  .cases__top
      h2.cases__title.wow.title.animate__animated.animate__fadeIn Check out some great case studies
      a.cases__link.default-link(href="#") Feature Project
  .cases__content
    .container
      .cases__content-inner
        ul.cases__list
            +cases-item(1, "PS-Alms", "Capturing workplace productivty in a series of candid photoshoots.")
            +cases-item(2, "Almosty", "Capturing workplace productivty in a series of candid photoshoots.")
            +cases-item(3, "Skin Care", "Capturing workplace productivty in a series of candid photoshoots.")
            +cases-item(4, "Neauthy Skin Care", "Capturing workplace productivty in a series of candid photoshoots.")