include ./_creating-item
section.creating
  .container-large
    .creating__inner 
        .container-mini
            .creating__content
                h2.creating__title.wow.title.animate__animated.animate__fadeIn We create world-class development and branding
                ul.creating__list
                  +creating-item(1, 'Branding', 'A brand today is all about how it makes your customers feel.')
                  +creating-item(2, 'Development', 'A brand today is all about how it makes your customers feel.')
                  +creating-item(3, 'Animation', 'A brand today is all about how it makes your customers feel.')
                  +creating-item(4, 'User Experience', 'A brand today is all about how it makes your customers feel.')