footer.footer
  .footer-top
    .container
      .footer-top__inner 
        img.footer-top__logo(src="./img/logo.svg", alt="logo")
        ul.footer-top__list
          li.footer-top__item
            a.footer-top__link(href="#") Home
          li.footer-top__item
            a.footer-top__link(href="#") Company
          li.footer-top__item
            a.footer-top__link(href="#") Services
          li.footer-top__item 
            a.footer-top__link(href="#") Service Detail
          li.footer-top__item
            a.footer-top__link(href="#") Contact
  .footer-bottom
    .container 
      .footer-bottom__inner
        p.footer-bottom__text © Template by  
          span Flowbase
          | - Powered by
          span Webflow
        ul.footer-bottom__list 
          li.footer-bottom__item
            a.footer-bottom__link(href="#") Style Guide
          li.footer-bottom__item
            a.footer-bottom__link(href="#") Licence
          li.footer-bottom__item
            a.footer-bottom__link(href="#") Changelog