section.info-person
  .container 
    .info-person__inner
      h2.info-person__title.wow.title.animate__animated.animate__fadeIn Quality is no accident.
      .swiper.info-person__slider
        .swiper-wrapper.info-person__slider-wrapper 
          .swiper-slide.info-person__slider-item.info-person-slider
            .info-person-slider__inner
              img.info-person-slider__img(src="./img/info-person/img-1.jpg", alt="img")
              .info-person-slider__content
                .info-person-slider__box 
                  h5.info-person-slider__title Amet minim mollit non deserunt est sit aliqua dolor do amet sint officia consequat duis enim mollit exercitation.
                .info-person-slider__bio
                  p.info-person-slider__name Lee Morgan, Slack, Inc
                  p.info-person-slider__city New York, NY Team
          .swiper-slide.info-person__slider-item.info-person-slider
            .info-person-slider__inner
              img.info-person-slider__img(src="./img/info-person/img-1.jpg", alt="img")
              .info-person-slider__content
                .info-person-slider__box 
                  h5.info-person-slider__title Amet minim mollit non deserunt est sit aliqua dolor do amet sint officia consequat duis enim mollit exercitation.
                .info-person-slider__bio
                  p.info-person-slider__name Lee Morgan, Slack, Inc
                  p.info-person-slider__city New York, NY Team
          .swiper-slide.info-person__slider-item.info-person-slider
            .info-person-slider__inner
              img.info-person-slider__img(src="./img/info-person/img-1.jpg", alt="img")
              .info-person-slider__content
                h5.info-person-slider__title Amet minim mollit non deserunt est sit aliqua dolor do amet sint officia consequat duis enim mollit exercitation.
                .info-person-slider__bio
                  p.info-person-slider__name Lee Morgan, Slack, Inc
                  p.info-person-slider__city New York, NY Team
        .swiper-button-prev.info-person__slider-button-prev
        .swiper-button-next.info-person__slider-button-next