.logos-list
  .container-large
    ul.logos-list__inner
      li.logos-list__item
        img.logos-list__img(src="./img/logos/logo-1.svg", alt="logo")
      li.logos-list__item
        img.logos-list__img(src="./img/logos/logo-2.svg", alt="logo")
      li.logos-list__item
        img.logos-list__img(src="./img/logos/logo-3.svg", alt="logo")
      li.logos-list__item
        img.logos-list__img(src="./img/logos/logo-4.svg", alt="logo")
      li.logos-list__item
        img.logos-list__img(src="./img/logos/logo-5.svg", alt="logo")
      li.logos-list__item
        img.logos-list__img(src="./img/logos/logo-6.svg", alt="logo")