section.skills    
  .container-large 
    .skills__inner
      .skills__container
        h2.skills__title.wow.title.animate__animated.animate__fadeIn We offer a wide variety of skills.
        ul.skills__list
          li.skills__item.wow.animate__animated.animate__fadeInUp
            h5.skills__item-title 01 - Research
            p.skills__item-text A brand today is all about how it makes customers feel.
          li.skills__item.wow.animate__animated.animate__delay-1s.animate__fadeInUp
            h5.skills__item-title 02 - Concept
            p.skills__item-text A brand today is all about how it makes customers feel.
          li.skills__item.wow.animate__animated.animate__delay-2s.animate__fadeInUp
            h5.skills__item-title 03 - Development
            p.skills__item-text A brand today is all about how it makes customers feel.
          li.skills__item.wow.animate__animated.animate__delay-3s.animate__fadeInUp
            h5.skills__item-title 04 - Growth
            p.skills__item-text A brand today is all about how it makes customers feel.